body {background: linear-gradient(to bottom, #fdfab7 0%, #93ceff 100%);}


h1,h2,h3 {
    color: #673BFC;
}

#header {
    background-image: url("../images/rnbwsparkles.png");
    text-align: center;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat854.ani), url(https://cur.cursors-4u.net/nature/nat-9/nat854.png), auto !important;} /* End https://www.cursors-4u.com */

img {
border-color: black;
border-width: 2px;
border-style: solid;
}

    /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }